<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NewsApp</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {{{ body }}}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>  
    <script src="/js/news.js"></script>  
  </body>
</html>